<span id="selected_project">
		<%= @project.name %><br/> <a href="#" style="color:blue; font-size:75%;" id="change_project" data-customer="<%= @project.customer %>" data-object="project" data-other-object="customer">Change</a>
</span> 