<div id="tabs-1">
<%= render 'tabs/state_invoice' %>
</div>
<script type="text/javascript">
// $(document).ready(function() {
// 	$('.money').convert_money_field()
//   $('.total_on_this').total_on_log()
// });
</script>