<div class="index-view">
	<div class="list_header orange_bgr">
		<a id="dialog_user" data-object="user"><%= t'helpers.submit.create', model: User.model_name.human %></a>
		<div id="dialog_user_form" class="dialog_form" title="Create new user" style="display:none;">
		<%= render 'form' %>
    </div>
	    <div class="search">
	        <input type="text" autofocus="autofocus" placeholder="<%= t'general.search' %>"  name="search" AUTOCOMPLETE=OFF value="" id="id_search_list">
	    </div>
	</div>
	<div id="cus_pro_us_listing_container">
  <ul id="cus_pro_us_listing">
    <%= render @users %>
  </ul>
</div>
</div>