<% if object.errors.any? %>
    <div class='flash_error' style="color:red;">	
      <% object.errors.full_messages.each do |msg| %>
        <p><%= msg.html_safe %></p>
      <% end %>  
    </div>
  <% end %>