<div class="one_month_back" data-lastmonth="<%= date_format(time_zone_now.to_date - 1.month) %>" data-today="<%= date_format(time_zone_now.to_date) %>"></div>
<div id="stacked">		
	<svg style="height:360px;width:600px;"></svg>
</div>
<div id="pie">	
	<svg style="height:380px; width:380px;"></svg>
</div>
<ul id="legend"></ul>​