<div class="log_menu">
	<div class="range" >	   
	    <div id="range_date_fields_graphs" data-klass="<%= @klass.class %>" data-id="<%= @klass.id %>">
		  	<%= text_field_tag 'from',date_format(time_zone_now - 1.week),  class: "range_date_graphs", id: "from_stat"%>
			<%= text_field_tag 'to',date_format(time_zone_now), class: "range_date_graphs", id: "to_stat"  %>
		</div> 
   	</div>
    <div class="logs_pr_date">
  		<select class="small_selector" id="stats">
          	<option value="customer_users_logs">Users</option>
		  	<option value="customer_todos_logs">Tasks</option>   
      	</select>
    </div> 
</div>