<% content_for :help do %>
<div class="page_help">
	<div class="page_help_container">
	<%= t "help.timesheets_html" %>
	</div>
</div>
<% end %>

<%= render "timesheet_header" %>

<%= render "timesheet_table" %>	