<% if @klass.blank? %>
	<%= render 'logs/log_top_part' %>
<% else %>
	<%= render @klass.class.to_s.downcase.pluralize + '/navigation_header' %>
	<%= render 'logs/logs_menu' %>
<% end %>
<span class="week"></span>
<div class="listing_logs">
	<%= render "timesheet" %>
</div>