<% content_for :help do %>
	<div class="page_help">
		<div class="page_help_container">
			<%= t "help.logs_index_html" %>	
		</div>
	</div>
<% end %>
<div class="list_header_log hor_scroll_200 orange_bgr ver_down_on_help">
	<div id="form_holder">
		<%if !@log.nil?%>
			<%= render :partial => "logs/stop_tracking", :locals => {:log => @log}%>
		<%else%> 
		     <%= render :partial => "logs/start_tracking" %>
		<% end %>
	</div>
</div>	
<div id="index_log_header" class="hor_scroll_200 ver_down_on_help">
	<%= render "logs/logs_menu" %>
</div>