<div class="contact">
<h2>Need help?</h2>
<p>Take a look at our <%= link_to "Help Center", guides_path%> for videos and articles on different topics</p>
<h2>Don't find what you're looking for? </h2>
<p>Send us an email to support@squadlink.com, and we'll get back to you.</p>
</div>