<div class="video_container">	
</div>

<div style="font-size:30px;text-align:left;" class="start_video">
	<p>Squadlink is a online collaborative project management tool for small businesses.</p>
 <p>Keep track of your company's project, customers, and employees work time in your browser.</p>
 <p>It's easy!
</p>
    <!-- <%= image_tag "start64.png"  %>-->
</div>
<div class="play_a_video">

    <!-- <#= image_tag "play_a_video.png"  %> -->
</div>
<div class="signup_wrapper">
    <%= link_to('Sign up for free', register_path, :class => "signup_button")  %>
</div>